  <div class="row my-5">
    <div class="col-sm-12">
      <h2 class="float-right">{{theme}} theme</h2>
    </div>
    <div class="card mx-auto align-middle {{theme}}-calculator">
      <div class="card-body mx-auto">
        <div class="card-title">
          <input type="text" id="answer" class="form-control {{theme}}-input" placeholder="|" autocomplete="off" disabled>
        </div>

        <div class="btn-group mx-auto d-flex" role="toolbar">


              <button class="btn btn-outline-secondary btn-lg w-30 {{theme}}-num-btn" {{action "input" "7" on="mouseUp"}}>7
              </button>


              <button class="btn btn-outline-secondary btn-lg w-30 {{theme}}-num-btn" {{action "input" "8" on="mouseUp"}}>8
              </button>


              <button class="btn btn-outline-secondary btn-lg w-30 {{theme}}-num-btn" {{action "input" "9" on="mouseUp"}}>9
              </button>


              <button class="btn btn-outline-secondary btn-lg w-30 {{theme}}-calc-btn" {{action "input" "/" on="mouseUp"}}>/
              </button>

        </div><!-- .btn-toolbar -->

        <div class="btn-group mx-auto d-flex" role="toolbar">


              <button class="btn btn-outline-secondary btn-lg w-30 {{theme}}-num-btn" {{action "input" "4" on="mouseUp"}}>4
              </button>

              <button class="btn btn-outline-secondary btn-lg w-30 {{theme}}-num-btn" {{action "input" "5" on="mouseUp"}}>5
              </button>

              <button class="btn btn-outline-secondary btn-lg w-30 {{theme}}-num-btn" {{action "input" "6" on="mouseUp"}}>6
              </button>

              <button class="btn btn-outline-secondary btn-lg w-30 {{theme}}-calc-btn" {{action "input" "*" on="mouseUp"}}>*
              </button>

        </div><!-- .btn-toolbar -->

        <div class="btn-group mx-auto d-flex" role="toolbar">


              <button class="btn btn-outline-secondary btn-lg w-30 {{theme}}-num-btn" {{action "input" "1" on="mouseUp"}}>1
              </button>

              <button class="btn btn-outline-secondary btn-lg w-30 {{theme}}-num-btn" {{action "input" "2" on="mouseUp"}}>2
              </button>

              <button class="btn btn-outline-secondary btn-lg w-30 {{theme}}-num-btn" {{action "input" "3" on="mouseUp"}}>3
              </button>

              <button class="btn btn-outline-secondary btn-lg w-30 {{theme}}-calc-btn" {{action "input" "-" on="mouseUp"}}>-
              </button>


        </div><!-- .btn-toolbar -->

        <div class="btn-group mx-auto d-flex" role="toolbar">

              <button class="btn btn-outline-secondary btn-lg w-30 {{theme}}-num-btn" {{action "input" "0" on="mouseUp"}}>0
              </button>

              <button class="btn btn-outline-secondary btn-lg w-30 {{theme}}-num-btn" {{action "input" "." on="mouseUp"}}>.
              </button>

              <button class="btn btn-outline-secondary btn-lg w-30 {{theme}}-num-btn" {{action "input" "clear"on="mouseUp"}}>c</button>

              <button class="btn btn-outline-secondary btn-lg w-30 {{theme}}-calc-btn" {{action "input" "+" on="mouseUp"}}>+
              </button>

        </div><!-- .btn-toolbar -->

      <div class="co-xs-12">
        <button class="btn btn-outline-secondary btn-lg btn-block mt-2 {{theme}}-enter-btn" {{action "input" "enter" on="mouseUp"}}>
          Enter
        </button>
      </div>

    </div><!-- .card-body-->
  </div><!-- .card -->
</div><!-- .row -->
