<div class="card">
  <div class="card-header theme-{{theme.name}}">{{theme.name}} Theme</div>
  <div class="card-body">
    <h5 class="card-title">{{theme.name}}</h5>
    <p class="card-text">Your standard {{theme.name}} themed calculator</p>
    <button class="btn" {{action "select" theme.name}}>Select Theme</button>
  </div>
</div>